.footer__link {
  padding-left: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  transition: 0.6s ease;
  text-decoration: none;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 559px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
